body {
margin:0px;
padding:0px;
font-size:80px;
}

#players-input {
margin:10px;
}

input {
font-size:50px;
}

#submit {
cursor:pointer;
padding:10px;
background-color:yellow;
margin-bottom:30px;
margin-top:20px;

}

#startgame {
cursor:pointer;
padding:10px;
margin:10px;
background-color:red;
}
#players {
margin:10px;
}

.player-class {
padding:20px;
margin:30px;
margin-top:50px;
background-color:lightblue;
cursor:pointer;
}
