body {
margin:0px;
padding:0px;
font-size:50px;
}

#players-input {
margin:10px;
}

#submit {
cursor:pointer;
padding:10px;
background-color:yellow;
margin:10px;

}

#startgame {
cursor:pointer;
padding:10px;
margin:10px;
background-color:red;
}
#players {
margin:10px;
}

.player-class {
padding:20px;
margin:10px;
background-color:lightblue;
cursor:pointer;
}
